// @use 'sass:map';
// @use '@angular/material' as mat;

.mat-sidenav {
  width: 200px;
  .mat-divider {
    width: 80%;
    margin: auto;
  }
}

.mat-sidenav-content {
  min-height: 100vh;
  position: relative;
  h1 {
    position: absolute;
    left: calc(50% - 200px);
  }
}


// @mixin color($light-theme) {
//   .mat-sidenav {
//     background-color: mat.get-theme-color($light-theme, tertiary, 90);
//     color: mat.get-theme-color($light-theme, tertiary, 10);
//   }
//   .mat-sidenav-content {
//     background-color: mat.get-theme-color($light-theme, neutral, 98);
//     color: mat.get-theme-color($light-theme, neutral, 10);
//   }
// }
// gestion du type ne marche pas
// @media (prefers-color-scheme: dark) {
//   @mixin color($dark-theme) {
//     .mat-sidenav {
//       background-color: mat.get-theme-color($dark-theme, secondary, 30);
//       color: mat.get-theme-color($dark-theme, secondary, 90);
//     }
//     .mat-sidenav-content {
//       background-color: mat.get-theme-color($dark-theme, neutral, 6);
//       color: mat.get-theme-color($dark-theme, neutral, 90);
//     }
//   }
// }
