<mat-sidenav-container class="sidenav-container">
<!-- Barre latérale -->
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    mode = 'over'
  >
    <mat-toolbar 
      class="logo page-title"
      routerLink="/"
    >
      Les Pâtes du Chat
    </mat-toolbar>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <!-- Liens de navigation -->
      <a 
        mat-list-item 
        *ngFor="let item of navItems" 
        [routerLink]="item.link" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.title }}
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <!-- Barre d'outils pour le menu et le thème -->
    <mat-toolbar class="nav-toggle-toolbar">
      <!-- Bouton menu -->
        <button type="button" mat-icon-button class="menu-button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      
      <span class="spacer"></span>

      <!-- Bouton thème -->
      <label class="theme-toggle">
        <input
          type="checkbox"
          [checked]="(activeTheme$ | async) === 'dark'" 
          (change)="onToggleTheme()"
        />
        <span class="toggle-track"></span>
        <span class="toggle-thumb">
          <mat-icon class="icon">
            {{ (activeTheme$ | async) === 'light' ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
        </span>
      </label>
    </mat-toolbar>

    <!-- Titre de la page -->
    <h1 *ngIf="pageTitle !=='Accueil'"  class="page-title">{{ pageTitle }}</h1>

    <!-- Contenu de l'application -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
