.product-card {
    position: relative;
    background-color: var(--surface-container);
    color: var(--on-secondary-container);

    h2 {
        font-size: 1.2rem;
        line-height: normal;
        margin: 0;
    }

    p {
        font-size: 0.875rem;
        line-height: normal;
        margin: 0;
    }

    img {
        background-color: var(--surface);
    }
}

.product-card:not(.selected) {
    height: 13rem;
    width: 13rem;

    img {
        max-height: 150px;
        object-fit: cover;
    }

    &:hover {
        transform: translateY(-5px);
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }
}

mat-card-content {
    text-align: center;
    text-wrap: balance;
    border-radius: 0 0 8px 8px;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    line-height: 3rem;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    padding: 0.5rem;
    border-radius: 8px;
}

.product-card.selected {
    margin: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;

    img {
        width: 40%;
        height: 99%;
        object-fit: cover;
        border-radius: 8px;
        margin: 0.2rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    }

    mat-card-content {
        max-height: 95%;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--surface);
        padding: 2rem 5rem;
        margin: auto;
        border-radius: 8px;

        .description {
            font-style: italic;
        }

        .composition {
            background-color: var(--primary-container);
            color: var(--on-primary-container);
            padding: 1rem;
            border-radius: 8px;
            text-align: left;
            width: 300px;

            tr {
                vertical-align: top;
                margin: 1rem 0;
            }

            td:first-child {
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
}

h1 {
    width: 100%;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}
