<mat-card class="product-card" [class.selected]="isSelected">
    <img mat-card-image [src]="product.images || 'pate-R.png'"
        [alt]="product.images ? product.name : 'Pas d\'image disponible'">

    <mat-card-content>
        <h2>{{ product.name }}</h2>
        <div *ngIf="isSelected">
            <p class="description">{{ product.description }}</p>
            <table class="composition">
                <tr>
                    <td>Composition :</td>
                    <td>
                        <ng-container *ngFor="let ingredient of product.composition; let i = index">
                            <span>{{ ingredient }}</span>
                            <!-- <span *ngIf="i < ingredient.length - 1">, </span> -->
                        </ng-container>
                    </td>
                </tr>
                <tr>
                    <td>Allergène :</td>
                    <td>
                        <p *ngFor="let allergen of product.allergens">
                            <span>{{ allergen }}</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Végétarien :</td>
                    <td>{{ product.vegeta }}</td>
                </tr>
                <tr>
                    <td>Vegan :</td>
                    <td>{{ product.vegan }}</td>
                </tr>
            </table>
            <span class="price">{{ product.price | currency }}</span>
        </div>
    </mat-card-content>

    <mat-card-actions *ngIf="isSelected">
        <button mat-button (click)="onCloseClick($event)" class="close">X</button>
    </mat-card-actions>
</mat-card>