<mat-card class="product-card">
    <img mat-card-image [src]="product.image || 'pate-R.png'"
        [alt]="product.image ? product.name : 'Pas d\'image disponible'">
    
    <mat-card-content>
        <h2>{{ product.name }}</h2>
        <!-- <p *ngIf="selectedProduct">{{ product.description }}</p> -->
        <span class="price">{{ product.price | currency }}</span>
    </mat-card-content>

    <!-- <mat-card-actions *ngIf="isSelected">
        <button mat-button (click)="deselectProduct($event)" class="close">X</button>
    </mat-card-actions> -->
</mat-card>
