<mat-card class="product-card" [class.selected]="isSelected">
    <img mat-card-image [src]="product.image || 'pate-R.png'"
        [alt]="product.image ? product.name : 'Pas d\'image disponible'">
    
    <mat-card-content>
        <h2>{{ product.name }}</h2>
        <div *ngIf="isSelected">
            <p>{{ product.description }}</p>
            <ul>
                <li *ngFor="let ingredient of ingredients">{{ ingredient.name }}</li>
            </ul>
        </div>
        <span class="price">{{ product.price | currency }}</span>
    </mat-card-content>

    <mat-card-actions *ngIf="isSelected">
        <button mat-button (click)="onCloseClick($event)" class="close">X</button>
    </mat-card-actions>
</mat-card>
