// .admin-section {
//     padding: 1rem;
//     background-color: var(--surfaceContainer);
//     margin: 1rem;
//     border-radius: 20px;
// }

mat-table {
    table-layout: fixed;
    width: 100%;
}

th {
    font-weight: bold;
    text-align: center;
}

tr:not(thead tr){
    // background-color: var(--surfaceContainer);
    transition: background-color 0.3s;

    &:hover{
        background-color: var(--surfaceVariant);
    }
}

mat-divider {
    color: var(--surfaceContainerHighest);
}

.mat-icon {
    &.success { 
        color: var(--tertiaryContainer);
    }
    &.error {
        color: var(--error);
    }
}

.editing-mode{
    input:focus {
        background-color: var(--surface);
        padding: 0 0.5rem;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    }
}

/////////////////////////////
/// // Bentos
//////////////////////////////
/// 
.bento-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 colonnes
    gap: 1rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    align-items: stretch;

    @media (max-width: 800px) { 
        grid-template-columns: 1fr; // Passe en 1 colonne sur écran réduit
    }
}

.bento-item {
    background-color: var(--surfaceContainer);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    // height: 100%;

    &:hover {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    }

    &.expanded {
        grid-column: 1 / -1; // Prend toute la largeur
        min-height: 400px; // Augmente la hauteur en mode étendu
        padding: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
    }
}

.bento-container:has(.expanded) {
    grid-template-columns: repeat(4, 1fr); // 4 colonnes alignées sur une seule ligne
}



/////////////////////////////
/// // Boutons
//////////////////////////////

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    color: #555;
    transition: color 0.3s;

    &:hover {
        color: #d9534f; // Rouge clair au survol
    }
}


// Add button
.add {
    margin-left: 0.5rem;
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in;
    &:hover {
        background-color: var(--primaryFixedDim);
        color: var(--onPrimaryFixedVariant);
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);

    }
}

.add-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Actions buttons

.actions-column {
    // display: flex;
    // flex-wrap: nowrap;      // Empêche les boutons de passer à la ligne
    // gap: 0.5rem;             // Marge entre les boutons
    // justify-content: center;
    // align-items: center;
    min-width: 320px;        // Largeur minimale pour contenir les 4 boutons
    max-width: 100%;
    overflow: hidden;
}


.animated-button {
    position: relative;
    overflow: hidden;
    width: 60px; /* Taille de base */
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: width 0.5s ease-out, background-color 0.5s ease-out, color 0.3s ease-out;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.edit, &.save {
        color: var(--primary);
    }
    &.delete, &.cancel {
        color: var(--error);
    }
    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
    
    .icon, .text {
        position: absolute;
        transition: transform 0.4s ease-out, opacity 0.3s ease-out;
        pointer-events: none;
    }

    .icon {
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
    }

    .text {
        left: 20px;
        opacity: 0;
        white-space: nowrap;
    }

    &:hover {
        &.edit {
            background-color: var(--primaryContainer);
            color: var(--onPrimaryContainer);
            width: 90px;
            .icon {
                transform: translateX(15px); // pousse l'icône à droite
            }
    
            .text {
                opacity: 1;
                transform: translateX(-55px);
            }
        }

        &.delete {
            background-color: var(--error);
            color: var(--onError);
            width: 104px;
            .icon {
                transform: translateX(22px); // pousse l'icône à droite
            }
    
            .text {
                opacity: 1;
                transform: translateX(-62px);
            }
        }

        &.save {
            background-color: var(--primaryContainer);
            color: var(--onPrimaryContainer);
            width: 110px;
            .icon {
                transform: translateX(25px);
            }
        
            .text {
                transform: translateX(-65px);
                opacity: 1;
            }
        }

        &.cancel {
            background-color: var(--error);
            color: var(--onError);
            width: 90px;
            .icon {
                transform: translateX(15px); // pousse l'icône à droite
            }
    
            .text {
                opacity: 1;
                transform: translateX(-55px);
            }
        }
    }
}
