table {
    th:not(:first-child), td:not(:first-child) {
        justify-content: center;
        text-align: center;
    }
    th:last-child, td:last-child {
        width: 20%;
    }
    // .actions-column {
    //     display: flex;
    //     justify-content: center;
    //     text-align: center;
    // }
}