@use '@angular/material' as mat;

table {
    .mat-column-allergens, 
    .mat-column-vegan, 
    .mat-column-vegeta {
        width: 32px;
        padding-right: 24px;
        text-align: center;
    }
    
    .mat-column-price, .mat-column-stock {
        width: 10%;
        text-align: center;
    }
    
    th:last-child, td:last-child {
        justify-content: center;
        text-align: center;
    }
}

@include mat.dialog-overrides((
    container-min-width: 1000px
));

// ::ng-deep .custom-dialog-width .mat-dialog-container {
//     width: 100%;
//     max-width: 1600px !important;
//     min-width: 900px;
// }

::ng-deep .cdk-overlay-pane.custom-dialog {
    max-width: none !important;
    width: 90vw;
    min-width: 800px;
}
