@use '@angular/material' as mat;

// Colonne NOM → la plus large, adaptable
::ng-deep .mat-column-name {
    flex: 3 1 30vw;
    min-width: 160px;
    max-width: 40vw;
}

// Colonnes moyennes : Catégorie, Prix, Quantité, Unité
::ng-deep .mat-column-category,
::ng-deep .mat-column-price,
::ng-deep .mat-column-stockQuantity,
::ng-deep .mat-column-unite {
    flex: 2 1 10vw;
    min-width: 80px;
    max-width: 14vw;
}

// Petites colonnes : Allergènes, Vegan, Végétarien, Stock
::ng-deep .mat-column-allergens,
::ng-deep .mat-column-vegan,
::ng-deep .mat-column-vegeta,
::ng-deep .mat-column-stock {
    flex: 1 1 6vw;
    min-width: 50px;
    max-width: 8vw;
    text-align: center;

    .mat-icon {
        vertical-align: middle;
    }
}

// Colonne ACTIONS → largeur fixe suffisante pour les boutons
::ng-deep .mat-column-actions {
    flex: 1 1 10vw;
    min-width: 120px;
    max-width: 14vw;
}


@include mat.dialog-overrides((container-min-width: 1000px));

::ng-deep .cdk-overlay-pane.custom-dialog {
    max-width: none !important;
    width: 90vw;
    min-width: 800px;
}