table {
    th:nth-child(4), th:nth-child(5) {
        width: 10%;
    }
    td:not(:nth-child(4), :nth-child(5)) {
        width: 20%;
    }
    td:nth-child(4), td:nth-child(5) {
        width: 10%;
    }
    td:nth-child(6) {
        justify-content: center;
        text-align: center;
    }
}