<h2 mat-dialog-title>
    {{ data.ingredient ? 'Modifier un ingrédient' : 'Ajouter un ingrédient' }}
</h2>
<form [formGroup]="ingredientForm" (ngSubmit)="save()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fournisseur</mat-label>
        <input matInput formControlName="supplier" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Allergènes</mat-label>
        <input matInput formControlName="allergens" />
    </mat-form-field>

    <div class="regime">
        <mat-label>Régime alimentaire</mat-label>
        <div>
            <mat-checkbox formControlName="vegan" (change)="onVeganChange($event.checked)">Vegan</mat-checkbox>
            <mat-checkbox formControlName="vegeta">Végétarien</mat-checkbox>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="existing-images" *ngIf="existingImageUrls.length > 0">
        <mat-label>Images existantes</mat-label>
        <mat-grid-list cols="4" rowHeight="100px" gutterSize="10px">
            <mat-grid-tile *ngFor="let image of existingImageUrls; let i = index">
                <mat-card>
                    <img mat-card-image [src]="image" alt="Existing image" />
                    <button mat-icon-button color="warn" (click)="removeExistingImage(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-divider *ngIf="existingImages.length > 0"></mat-divider>
    
    <div class="file-upload">
        <mat-label for="imageUpload">Télécharger des image</mat-label>
        <input type="file" multiple (change)="onFileSelected($event)" accept="image/*"/>
    </div>

    <div class="previews" *ngIf="filePreviews.length > 0">
        <mat-grid-list cols="4" rowHeight="100px" gutterSize="10px">
            <mat-grid-tile *ngFor="let preview of filePreviews; let i = index">
                <mat-card>
                    <img mat-card-image [src]="preview" alt="Image preview" />
                    <button mat-icon-button color="warn" (click)="removeFile(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button type="button" (click)="cancel()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    </div>
</form>

