<h2 mat-dialog-title>
    {{ data.product ? 'Modifier un produit' : 'Ajouter un produit' }}
</h2>

<form [formGroup]="productForm" (ngSubmit)="save()">
    <div class="form_content">
        <div class="shadow top-shadow"></div>
        <div class="dynamic_columns">
            <!------------- colonne gauche ------------->
            <div class="form-column">

                <!-- bloc nom - category - description -->
                <div class="detail">

                    <div class="name_category">
                        <!-- Nom -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="name" />
                            <mat-error *ngIf="name?.hasError('required')">Le nom est obligatoire.</mat-error>
                            <mat-error *ngIf="name?.hasError('minlength')">Minimum 2 caractères.</mat-error>
                            <mat-error *ngIf="name?.hasError('maxlength')">Maximum 50 caractères.</mat-error>
                            <mat-error *ngIf="name?.hasError('pattern')">Caractères spéciaux interdits.</mat-error>
                        </mat-form-field>

                        <!-- Catégorie -->
                        <mat-form-field appearance="fill">
                            <mat-label>Catégorie</mat-label>
                            <input 
                                #categoryInput
                                type="text" 
                                matInput 
                                [formControl]="categoryCtrl" 
                                [matAutocomplete]="categoryAuto"
                                formControlName="category" 
                                placeholder="Rechercher une catégorie" 
                                (blur)="onCategoryBlur()"
                            />
                            <!-- effacer -->
                            <button
                                *ngIf="categoryCtrl.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Effacer la catégorie"
                                (click)="clearCategory()"
                                tabindex="-1"
                            >
                                <mat-icon>close</mat-icon>
                            </button>

                            <!-- erreurs -->
                            <mat-error *ngIf="category?.hasError('required')">
                                La catégorie est obligatoire.
                            </mat-error>
                            <mat-error *ngIf="category?.hasError('invalidSelection')">
                                Veuillez choisir une catégorie valide.
                            </mat-error>

                            <!-- autocomplete -->
                            <mat-autocomplete #categoryAuto="matAutocomplete"
                                (optionSelected)="addCategory($event.option.value)">
                                <!-- Affichage des résultats filtrés -->
                                <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                                    {{ category.name }}
                                </mat-option>

                                <!-- Message pour proposer l'ajout d'un ingrédient  (click)="createIngredient()"-->
                                <mat-option *ngIf="categoryNotFound" [value]="'categoryNotFound'">
                                    Aucun résultat. Cliquez ici pour ajouter une nouvelle catégorie.
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <!-- Description -->
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" rows="3"></textarea>
                        <!-- erreurs -->
                        <mat-error *ngIf="description?.hasError('maxlength')">Maximum 500 caractères.</mat-error>
                        <mat-error *ngIf="description?.hasError('pattern')">Certains caractères ne sont pas
                            autorisés.</mat-error>
                    </mat-form-field>
                </div>
                <!-- fin du bloc nom - category - description -->

                <!-- ---------------------------------------- -->

                <!-- bloc prix - stock -->
                <div class="price_stock">
                    <div class="prix_unite">
                        <!-- Prix -->
                        <mat-form-field appearance="fill">
                            <mat-label>Prix</mat-label>
                            <input 
                                matInput 
                                type="number" 
                                formControlName="price" 
                                placeholder="0,00"
                            />
                            <span matTextSuffix>€</span>

                            <!-- erreurs -->
                            <mat-error *ngIf="price?.hasError('required')">Le prix est obligatoire.</mat-error>
                            <mat-error *ngIf="price?.hasError('min')">Le prix doit être un nombre positif ou égale à
                                0.</mat-error>
                            <mat-error *ngIf="price?.hasError('pattern')">Le format du prix est incorrect (ex:
                                10,99).</mat-error>
                        </mat-form-field>

                        <div class="divider">
                            /
                        </div>

                        <!-- Unité -->
                        <mat-form-field appearance="fill" hideRequiredMarker>
                            <mat-label>Unité</mat-label>
                            <mat-select formControlName="quantityType">
                                <mat-option value="piece">pièce</mat-option>
                                <mat-option value="kg">kg</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="stock_quantity">
                        <!-- Stock -->
                        <section class="stock" #stockSection>
                            <div>
                                <mat-label>Visible dans la boutique</mat-label>
                                <mat-slide-toggle 
                                    formControlName="stock"
                                >
                                </mat-slide-toggle>
                            </div>
                            <mat-hint *ngIf="stock?.disabled" class="hint slow-reveal">
                                Ajoutez du stock pour rendre visible
                            </mat-hint>
                            <mat-hint *ngIf="stockQuantity?.value === 0 && stock?.value === true" class="hint slow-reveal">
                                Sera affiché en rupture de stock
                            </mat-hint>
                        </section>

                        <!-- Quantité -->
                        <mat-form-field appearance="fill" class="quantity">
                            <mat-label>Quantité en stock</mat-label>
                            <input 
                                matInput 
                                type="number" 
                                [step]="quantityType === 'kg' ? '0.01' : '1'"
                                min="0" 
                                formControlName="stockQuantity" 
                                [placeholder]="quantityType === 'kg' ? '0,00' : '0'"

                            />
                            <span matTextSuffix> {{ quantityType }} </span>

                            <!-- <mat-hint>
                                Produit masqué si vide
                            </mat-hint> -->
                            
                            <mat-error *ngIf="stockQuantity?.hasError('min')">
                                Doit être positif ou égal à 0.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- fin du bloc prix - stock -->
            </div>
            <!------------- fin de colonne gauche ------------->
            <mat-divider vertical="true" class="light"></mat-divider>

            <!-- ------------------------------------------- -->

            <!------------- colonne droite ------------->
            <div class="form-column">

                <div class="cooking">
                    <!-- Composition -->
                    <mat-form-field appearance="fill">
                        <mat-label>Composition</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            [formControl]="ingredientCtrl" 
                            [matAutocomplete]="ingredientAuto"
                            formControlName="composition" 
                            placeholder="Rechercher un ingrédient" 
                            (blur)="onIngredientBlur()"
                        />
                        <!-- effacer -->
                        <button
                            *ngIf="ingredientCtrl.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Effacer la recherche"
                            (click)="clearIngredientSearch()"
                            tabindex="-1"
                        >
                            <mat-icon>close</mat-icon>
                        </button>

                        <!-- erreurs -->
                        <mat-error *ngIf="productForm.get('composition')?.hasError('required')">
                            Ajoutez au moins un ingrédient.
                        </mat-error>
                          <mat-error *ngIf="productForm.get('composition')?.hasError('invalidSelection')">
                            Veuillez choisir un ingrédient dans la liste.
                        </mat-error>

                        <!-- autocomplete -->
                        <mat-autocomplete #ingredientAuto="matAutocomplete"
                            (optionSelected)="addIngredient($event.option.value)" hideSingleSelectionIndicator>
                            <!-- Affichage des résultats filtrés -->
                            <mat-option 
                                *ngFor="let ingredient of filteredIngredients | async" 
                                [value]="ingredient"
                                class="composition"
                                [ngClass]="{ 'selected-ingredient': isIngredientSelected(ingredient) }"
                            >
                                <span>{{ ingredient.name }}</span>
                                <mat-icon *ngIf="isIngredientSelected(ingredient)">
                                    check
                                </mat-icon>
                            </mat-option>

                            <!-- Message pour proposer l'ajout d'un ingrédient  (click)="createIngredient()"-->
                            <mat-option *ngIf="ingredientNotFound" [value]="'ingredientNotFound'">
                                Aucun résultat. Cliquez ici pour ajouter un nouvel ingrédient.
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <!-- Liste des ingrédients -->
                    <mat-chip-set *ngIf="composition.length > 0; else noIngredients">
                        <mat-chip 
                            *ngFor="let ingredient of composition" 
                            [removable]="true"
                            (removed)="removeIngredient(ingredient)" 
                            [matTooltip]="getIngredientTooltip(ingredient)"
                            matTooltipPosition="below" 
                            matTooltipClass="custom-tooltip"
                        >
                            {{ ingredient.name }}
                            <button mat-icon-button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-set>

                    <ng-template #noIngredients>
                        <p class="empty-message">Aucun ingrédient ajouté</p>
                    </ng-template>

                    <mat-divider></mat-divider>

                    <!-- Instructions de cuisson -->
                    <mat-form-field appearance="fill">
                        <mat-label>Instructions de cuisson</mat-label>
                        <textarea 
                            matInput 
                            formControlName="cookInstructions" 
                            placeholder="Ex : 10 minutes à 180°C"
                            rows="3"
                        ></textarea>

                        <!-- erreurs -->
                        <mat-error *ngIf="cookInstructions?.hasError('required')">
                            Les instructions de cuisson sont obligatoires.
                        </mat-error>
                        <mat-error *ngIf="cookInstructions?.hasError('maxlength')">
                            Maximum 250 caractères.
                        </mat-error>
                        <mat-error *ngIf="cookInstructions?.hasError('pattern')">
                            Caractères non autorisés.
                        </mat-error>
                        
                    </mat-form-field>

                    <!-- DLC -->
                    <div class="dlc" #dlcContainer>
                        <mat-form-field appearance="fill" class="dlc-main" [class.with-custom]="dlc?.value === 'Autre'">
                            <mat-label>
                                {{ dlc?.value === 'Autre' ? 'DLC' : 'Date Limite de consommation (DLC)' }}
                            </mat-label>
                            <mat-select formControlName="dlc">
                                <mat-option *ngFor="let dlc of dlcsList" [value]="dlc">
                                    {{ dlc }}
                                </mat-option>
                                <mat-option value="Autre">Autre...</mat-option>
                            </mat-select>

                            <!-- erreurs -->
                            <mat-error *ngIf="dlc?.hasError('required')">
                                La DLC est obligatoire.
                            </mat-error>
                              <mat-error *ngIf="dlc?.hasError('maxlength')">
                                Maximum 50 caractères.
                            </mat-error>
                              <mat-error *ngIf="dlc?.hasError('pattern')">
                                Caractères non autorisés.
                            </mat-error>
                        </mat-form-field>
    
                        <!-- DLC Custom (si Autre...) -->
                        <mat-form-field *ngIf="dlc?.value === 'Autre'" appearance="fill" class="dlc-custom">
                            <mat-label>DLC personnalisée</mat-label>
                            <input 
                                matInput 
                                #customDlcInput
                                formControlName="customDlc" 
                                placeholder="Ex : 9 mois, 18 jours, etc." 
                            />

                            <!-- erreurs -->
                            <mat-error *ngIf="productForm.get('customDlc')?.hasError('maxlength')">
                                Maximum 50 caractères.
                            </mat-error>
                            <mat-error *ngIf="productForm.get('customDlc')?.hasError('pattern')">
                                Caractères non autorisés.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <!------------- fin de colonne droite ------------->
        </div>
        <!------------- fin du bloc de 2 colonnes ------------->

        <mat-divider class="light"></mat-divider>

        <!------------- bloc images ------------->
        <div class="bloc_images">
            <mat-label>Images</mat-label>

            <app-image-carousel [images]="processedImages" (reorder)="onReorder($event)"
                (remove)="onImageRemoved($event)" (download)="onDownloadImage($event)" />
            <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
                <mat-icon>file_upload</mat-icon> Ajouter une image
            </button>
            <input #fileInput id="imageUpload" type="file" multiple (change)="onFileSelected($event)" accept="image/*"
                style="display: none;" />
        </div>
        <div class="shadow bottom-shadow"></div>
    </div>

    <!-- ------------------ -->

    <!-- Validation -->
    <div mat-dialog-actions class="actions" align="end">
        <button mat-button type="button" (click)="cancel()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    </div>
</form>