::ng-deep .mat-mdc-dialog-surface {
    background-color: var(--surfaceBright);
}

form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40rem;
    width: 95%;
    overflow: auto;
    margin: auto;
    mat-form-field {
        border-radius: 10px;
        color: var(--onSurface);
        background-color: var(--surfaceBright);
        &:focus-within {
            color: var(--onSurface);
            background-color: var(--surfaceContainer);
        }
        &.ng-invalid.ng-touched {
            color: var(--error);
            background-color: var(--errorContainer);
        }
    }
}

mat-label {
    font-weight: bold;
}

mat-option {
    color: var(--onSurface) !important;
    background-color: var(--surfaceContainer) !important;
    &:hover {
        color: var(--onPrimaryFixed) !important;
        background-color: var(--primaryFixed) !important;
    }
}

// mat-slide-toggle {
//     // background-color: red;

// }

// // Styles spécifiques pour le mat-slide-toggle
// :ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
//   background-color: red; // Quand le toggle est activé
// }

// .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
//   background-color: blue; // La "barre" quand activée
// }

// .mat-slide-toggle .mat-slide-toggle-bar {
//   background-color: orange; // La "barre" par défaut (désactivée)
// }

// .mat-slide-toggle .mat-slide-toggle-thumb {
//   background-color: purple; // Le cercle par défaut
// }
