<h2 mat-dialog-title>
    {{ data.product ? 'Modifier un produit' : 'Ajouter un produit' }}
</h2>

<form [formGroup]="productForm" (ngSubmit)="save()">
    <!-- Nom -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <!-- Catégorie -->
    <mat-form-field appearance="fill">
        <mat-label>Catégorie</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>
    
    <!-- Ingrédients -->
    <mat-form-field>
        <input type="text" placeholder="Ajouter un ingrédient" aria-label="Ingrédient" matInput
            [formControl]="ingredientCtrl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addIngredient($event.option.value)">
            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
                {{ ingredient.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div *ngFor="let ingredient of composition">
        {{ ingredient.name }}
        <button mat-icon-button (click)="removeIngredient(ingredient)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>


    <!-- Prix -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Prix</mat-label>
        <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <!-- Stock -->
    <div class="stock">
        <mat-checkbox formControlName="stock">En stock</mat-checkbox>
    </div>

    <!-- Validation -->
    <div mat-dialog-actions align="end">
        <button mat-button type="button" (click)="cancel()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    </div>
</form>