<h1>Gestion du site</h1>

<div class="container">
    <table>
        <thead>
            <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Composition</th>
            <th>Prix</th>
            <th>Image</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <ul>
                        <li *ngFor="let ingredient of productCompo">{{ ingredient }}</li>
                    </ul>
                </td>
                <td>{{ product.price }}</td>
                <td>{{ product.image }}</td>
                <td>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
