@use '@angular/material' as mat;
@use './assets/themes/m3-theme';
@use './app/components/nav/nav.component' as nav;
@use './app/components/product-card/product-card.component.scss' as product;

// @import './assets/themes/dark-hc.css';
// @import './assets/themes/dark-mc.css';

// @import './assets/themes/light-hc.css';
// @import './assets/themes/light-mc.css'; 

// @import './assets/themes/dark.css';
// @import './assets/themes/light.css';

@include mat.core();

html {
    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.all-component-themes(m3-theme.$light-theme);
    @include nav.color(m3-theme.$light-theme);
    @include product.color(m3-theme.$light-theme);
}


// vert: #004f12;
// orange: #FF8357;
// Pacifico: "Pacifico", cursive;


html, body { height: 100%; }

body {
    margin: 0; 
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    text-wrap: balance;
}

h1 {
    text-align: center;
}

