@use '@angular/material' as mat;
@use './assets/themes/m3-theme';


@include mat.elevation-classes();
@include mat.app-background();

$theme: m3-theme.$light-theme;
// @media (prefers-color-scheme: dark) {
//     $theme: m3-theme.$dark-theme;
// }



html, body {
    @include mat.elevation-classes();
    @include mat.app-background();
    @include mat.all-component-themes($theme);
    @include mat.all-component-typographies($theme);
    background-color: var(--surface);
    color: var(--onSurface);
}



// vert: #004f12;
// orange: #FF8357;
// Pacifico: "Pacifico", cursive;


html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

// h1, h2, h3, h4 {
//     text-transform: capitalize;
//     text-wrap: balance;
// }



