/* You can add global styles to this file, and also import other style files */
h1
    text-align: center


nav
    display: flex
    justify-content: space-evenly
    list-style: none
    a 
        color: orange
        text-decoration: none
        &:hover
            color: pink
            background-color: black