@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary: #875200;
  --surface-tint: #875200;
  --on-primary: #FFFFFF;
  --primary-container: #FBA124;
  --on-primary-container: #3E2300;
  --secondary: #7D5628;
  --on-secondary: #FFFFFF;
  --secondary-container: #FFD2A3;
  --on-secondary-container: #5E3B0F;
  --tertiary: #596400;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #AFC039;
  --on-tertiary-container: #272D00;
  --error: #BA1A1A;
  --on-error: #FFFFFF;
  --error-container: #FFDAD6;
  --on-error-container: #410002;
  --background: #FFF8F4;
  --on-background: #221A12;
  --surface: #FFF8F4;
  --on-surface: #221A12;
  --surface-variant: #F6DFC9;
  --on-surface-variant: #534434;
  --outline: #867462;
  --outline-variant: #D9C3AE;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #382F26;
  --inverse-on-surface: #FEEEE0;
  --inverse-primary: #FFB866;
  --primary-fixed: #FFDDBA;
  --on-primary-fixed: #2B1700;
  --primary-fixed-dim: #FFB866;
  --on-primary-fixed-variant: #673D00;
  --secondary-fixed: #FFDDBA;
  --on-secondary-fixed: #2B1700;
  --secondary-fixed-dim: #F0BD85;
  --on-secondary-fixed-variant: #623F13;
  --tertiary-fixed: #DAED61;
  --on-tertiary-fixed: #191E00;
  --tertiary-fixed-dim: #BED048;
  --on-tertiary-fixed-variant: #424B00;
  --surface-dim: #E7D7CA;
  --surface-bright: #FFF8F4;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #FFF1E6;
  --surface-container: #FBEBDD;
  --surface-container-high: #F6E5D8;
  --surface-container-highest: #F0E0D2;

  // Variables spécifiques pour Material Angular (nouvelles versions)
  --mat-primary: var(--primary);
  --mat-on-primary: var(--on-primary);
  --mat-primary-container: var(--primary-container);
  --mat-on-primary-container: var(--on-primary-container);

  --mat-secondary: var(--secondary);
  --mat-on-secondary: var(--on-secondary);
  --mat-secondary-container: var(--secondary-container);
  --mat-on-secondary-container: var(--on-secondary-container);

  --mat-tertiary: var(--tertiary);
  --mat-on-tertiary: var(--on-tertiary);
  --mat-tertiary-container: var(--tertiary-container);
  --mat-on-tertiary-container: var(--on-tertiary-container);

  --mat-error: var(--error);
  --mat-on-error: var(--on-error);
  --mat-error-container: var(--error-container);
  --mat-on-error-container: var(--on-error-container);

  --mat-background: var(--background);
  --mat-on-background: var(--on-background);

  --mat-surface: var(--surface);
  --mat-on-surface: var(--on-surface);
  --mat-surface-variant: var(--surface-variant);
  --mat-on-surface-variant: var(--on-surface-variant);

  --mat-outline: var(--outline);
  --mat-outline-variant: var(--outline-variant);

  --mat-shadow: var(--shadow);
  --mat-scrim: var(--scrim);
  --mat-inverse-surface: var(--inverse-surface);
  --mat-inverse-on-surface: var(--inverse-on-surface);
  --mat-inverse-primary: var(--inverse-primary);

  // Typographie (ne marche pas)
  --my-brand-font: 'Pacifico', cursive;
  --my-headline-font: 'Pacifico';
  --my-title-font: 'Pacifico';
  --my-plain-font: 'Arial', sans-serif;

  --md-ref-typeface-brand: var(--my-brand-font);
  --md-ref-typeface-plain: var(--my-plain-font);

  --md-sys-typescale-headline-font: var(--my-headline-font);
  --md-sys-typescale-title-font: var(--my-title-font);

  --md-sys-typescale-headline-large: var(--my-font-brand);
  --md-sys-typescale-headline-medium: var(--my-font-brand);
  --md-sys-typescale-headline-small: var(--my-font-brand);

  --md-sys-typescale-title-large: var(--my-font-brand);
  --md-sys-typescale-title-medium: var(--my-font-brand);
  --md-sys-typescale-title-small: var(--my-font-brand);

  --md-sys-typescale-body-large: var(--my-font-plain);
  --md-sys-typescale-body-medium: var(--my-font-plain);
  --md-sys-typescale-body-small: var(--my-font-plain);
}

// 🌒 Mode Sombre
body.dark {
  --primary: #FFC380;
  --surface-tint: #FFB866;
  --on-primary: #482900;
  --primary-container: #E8920D;
  --on-primary-container: #291600;
  --secondary: #F0BD85;
  --on-secondary: #482900;
  --secondary-container: #5A390C;
  --on-secondary-container: #FFCC95;
  --tertiary: #C6D84F;
  --on-tertiary: #2D3400;
  --tertiary-container: #9DAE27;
  --on-tertiary-container: #181C00;
  --error: #FFB4AB;
  --on-error: #690005;
  --error-container: #93000A;
  --on-error-container: #FFDAD6;
  --background: #19120A;
  --on-background: #F0E0D2;
  --surface: #19120A;
  --on-surface: #F0E0D2;
  --surface-variant: #534434;
  --on-surface-variant: #D9C3AE;
  --outline: #A18D7A;
  --outline-variant: #534434;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #F0E0D2;
  --inverse-on-surface: #382F26;
  --inverse-primary: #875200;
  --primary-fixed: #FFDDBA;
  --on-primary-fixed: #2B1700;
  --primary-fixed-dim: #FFB866;
  --on-primary-fixed-variant: #673D00;
  --secondary-fixed: #FFDDBA;
  --on-secondary-fixed: #2B1700;
  --secondary-fixed-dim: #F0BD85;
  --on-secondary-fixed-variant: #623F13;
  --tertiary-fixed: #DAED61;
  --on-tertiary-fixed: #191E00;
  --tertiary-fixed-dim: #BED048;
  --on-tertiary-fixed-variant: #424B00;
  --surface-dim: #19120A;
  --surface-bright: #41372E;
  --surface-container-lowest: #140D06;
  --surface-container-low: #221A12;
  --surface-container: #261E16;
  --surface-container-high: #312820;
  --surface-container-highest: #3C332A;
}


$light-theme: mat.define-theme(
  (
    typography: (
      plain-family: "Arial",
      brand-family: "Pacifico",
      bold-weight: 500,
      medium-weight: 400,
      regular-weight: 200,
    ),
  )
);

