<h1>Les Produits</h1>

<!-- grid normal -->
<div class="container" *ngIf="products$ | async as products">
    <div class="grid-container" >
        <mat-grid-list [cols]="cols" rowHeight="250px" gutterSize="10px">
            <mat-grid-tile *ngFor="let product of products$ | async">
                <app-product-card [product]="product" [isSelected]="product === selectedProduct" (click)="selectProduct(product)"></app-product-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

<!-- no product found -->
<div class="container" *ngIf="!(products$ | async)?.length">
    <p>Pas de produits disponibles</p>
</div> 