// app-product-card
//     &.selected
//         margin: 1rem
//         border: 2px solid #e91e63

// media queries
@media (max-width: 1200px)
    ::ng-deep .mat-grid-list[cols='5']
        grid-template-columns: repeat(4, 1fr)

@media (max-width: 900px)
    ::ng-deep .mat-grid-list[cols='5']
        grid-template-columns: repeat(3, 1fr)

@media (max-width: 600px)
    ::ng-deep .mat-grid-list[cols='5']
        grid-template-columns: repeat(2, 1fr)

@media (max-width: 400px)
    ::ng-deep .mat-grid-list[cols='5']
        grid-template-columns: repeat(1, 1fr)
